# Data Exploration for Rest Countries & OpenWeather API

## Project Objective:

The objective of this project is to collect all meteorological data from the capitals of every country in the world and classify them based on their weather factors: the hottest city, the coldest city, etc.

To achieve this, we will retrieve data from the OpenWeather API.

### Install Dependencies :

In [1]:
! pip install requests pandas matplotlib seaborn

Requirement already satisfied: requests in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (2.32.3)
Requirement already satisfied: pandas in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: matplotlib in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (3.10.0)
Requirement already satisfied: seaborn in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from requests) (2024.12.14)
Requirement already satisfied: numpy>=1.26.0 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: six>=1.5 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import requests
import json
import os
import time
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Retrieving capitals with the Rest Countries API

In [3]:
rest_countries_url = "https://restcountries.com/v3.1/all?fields=name,capital"

In [4]:
def get_capitals():
    """
    Queries the REST Countries API to retrieve the list of capitals of every country in the world.
    Excludes countries without a capital.
    """
    try:
        response = requests.get(rest_countries_url, timeout=10)
        response.raise_for_status()
        countries = response.json()

        # Extract capitals
        capitals = []
        for country in countries:
            name = country.get('name', {}).get('common', 'Unknown Country')
            capital_list = country.get('capital', [])
            if capital_list:  # Check that the list of capitals is not empty
                capitals.append({"country": name, "city": capital_list[0]})

        print("\nTotal number of captured capitals:", len(capitals))
        return capitals

    except requests.exceptions.RequestException as e:
        print(f"Error when querying the REST Countries API: {e}")
        return []

In [5]:
get_capitals()

Total number of captured capitals: 246

[{'country': 'South Georgia', 'city': 'King Edward Point'},
 {'country': 'Grenada', 'city': "St. George's"},
 {'country': 'Switzerland', 'city': 'Bern'},
 {'country': 'Sierra Leone', 'city': 'Freetown'},
 {'country': 'Hungary', 'city': 'Budapest'},
 {'country': 'Taiwan', 'city': 'Taipei'},
 {'country': 'Wallis and Futuna', 'city': 'Mata-Utu'},
 {'country': 'Barbados', 'city': 'Bridgetown'},
 {'country': 'Pitcairn Islands', 'city': 'Adamstown'},
 {'country': 'Ivory Coast', 'city': 'Yamoussoukro'},
 {'country': 'Tunisia', 'city': 'Tunis'},
 {'country': 'Italy', 'city': 'Rome'},
 {'country': 'Benin', 'city': 'Porto-Novo'},
 {'country': 'Indonesia', 'city': 'Jakarta'},
 {'country': 'Cape Verde', 'city': 'Praia'},
 {'country': 'Saint Kitts and Nevis', 'city': 'Basseterre'},
 {'country': 'Laos', 'city': 'Vientiane'},
 {'country': 'Caribbean Netherlands', 'city': 'Kralendijk'},
 {'country': 'Uganda', 'city': 'Kampala'},
 {'country': 'Andorra', 'city': 'Andorra la Vella'},
 {'country': 'Burundi', 'city': 'Gitega'},
 {'country': 'South Africa', 'city': 'Pretoria'},
 {'country': 'France', 'city': 'Paris'},
 {'country': 'Libya', 'city': 'Tripoli'},
 {'country': 'Mexico', 'city': 'Mexico City'},
 {'country': 'Gabon', 'city': 'Libreville'},
 {'country': 'Northern Mariana Islands', 'city': 'Saipan'},
 {'country': 'North Macedonia', 'city': 'Skopje'},
 {'country': 'China', 'city': 'Beijing'},
 {'country': 'Yemen', 'city': "Sana'a"},
 {'country': 'Saint Barthélemy', 'city': 'Gustavia'},
 {'country': 'Guernsey', 'city': 'St. Peter Port'},
 {'country': 'Solomon Islands', 'city': 'Honiara'},
 {'country': 'Svalbard and Jan Mayen', 'city': 'Longyearbyen'},
 {'country': 'Faroe Islands', 'city': 'Tórshavn'},
 {'country': 'Uzbekistan', 'city': 'Tashkent'},
 {'country': 'Egypt', 'city': 'Cairo'},
 {'country': 'Senegal', 'city': 'Dakar'},
 {'country': 'Sri Lanka', 'city': 'Sri Jayawardenepura Kotte'},
 {'country': 'Palestine', 'city': 'Ramallah'},
 {'country': 'Bangladesh', 'city': 'Dhaka'},
 {'country': 'Peru', 'city': 'Lima'},
 {'country': 'Singapore', 'city': 'Singapore'},
 {'country': 'Turkey', 'city': 'Ankara'},
 {'country': 'Afghanistan', 'city': 'Kabul'},
 {'country': 'Aruba', 'city': 'Oranjestad'},
 {'country': 'Cook Islands', 'city': 'Avarua'},
 {'country': 'United Kingdom', 'city': 'London'},
 {'country': 'Zambia', 'city': 'Lusaka'},
 {'country': 'Finland', 'city': 'Helsinki'},
 {'country': 'Niger', 'city': 'Niamey'},
 {'country': 'Christmas Island', 'city': 'Flying Fish Cove'},
 {'country': 'Tokelau', 'city': 'Fakaofo'},
 {'country': 'Guinea-Bissau', 'city': 'Bissau'},
 {'country': 'Azerbaijan', 'city': 'Baku'},
 {'country': 'Réunion', 'city': 'Saint-Denis'},
 {'country': 'Djibouti', 'city': 'Djibouti'},
 {'country': 'North Korea', 'city': 'Pyongyang'},
 {'country': 'Mauritius', 'city': 'Port Louis'},
 {'country': 'Montserrat', 'city': 'Plymouth'},
 {'country': 'United States Virgin Islands', 'city': 'Charlotte Amalie'},
 {'country': 'Colombia', 'city': 'Bogotá'},
 {'country': 'Greece', 'city': 'Athens'},
 {'country': 'Croatia', 'city': 'Zagreb'},
 {'country': 'Morocco', 'city': 'Rabat'},
 {'country': 'Algeria', 'city': 'Algiers'},
 {'country': 'Netherlands', 'city': 'Amsterdam'},
 {'country': 'Sudan', 'city': 'Khartoum'},
 {'country': 'Fiji', 'city': 'Suva'},
 {'country': 'Liechtenstein', 'city': 'Vaduz'},
 {'country': 'Nepal', 'city': 'Kathmandu'},
 {'country': 'Puerto Rico', 'city': 'San Juan'},
 {'country': 'Georgia', 'city': 'Tbilisi'},
 {'country': 'Pakistan', 'city': 'Islamabad'},
 {'country': 'Monaco', 'city': 'Monaco'},
 {'country': 'Botswana', 'city': 'Gaborone'},
 {'country': 'Lebanon', 'city': 'Beirut'},
 {'country': 'Papua New Guinea', 'city': 'Port Moresby'},
 {'country': 'Mayotte', 'city': 'Mamoudzou'},
 {'country': 'Dominican Republic', 'city': 'Santo Domingo'},
 {'country': 'Norfolk Island', 'city': 'Kingston'},
 {'country': 'Qatar', 'city': 'Doha'},
 {'country': 'Madagascar', 'city': 'Antananarivo'},
 {'country': 'India', 'city': 'New Delhi'},
 {'country': 'Syria', 'city': 'Damascus'},
 {'country': 'Montenegro', 'city': 'Podgorica'},
 {'country': 'Eswatini', 'city': 'Mbabane'},
 {'country': 'Paraguay', 'city': 'Asunción'},
 {'country': 'El Salvador', 'city': 'San Salvador'},
 {'country': 'Ukraine', 'city': 'Kyiv'},
 {'country': 'Isle of Man', 'city': 'Douglas'},
 {'country': 'Namibia', 'city': 'Windhoek'},
 {'country': 'United Arab Emirates', 'city': 'Abu Dhabi'},
 {'country': 'Bulgaria', 'city': 'Sofia'},
 {'country': 'Greenland', 'city': 'Nuuk'},
 {'country': 'Germany', 'city': 'Berlin'},
 {'country': 'Cambodia', 'city': 'Phnom Penh'},
 {'country': 'Iraq', 'city': 'Baghdad'},
 {'country': 'French Southern and Antarctic Lands',
  'city': 'Port-aux-Français'},
 {'country': 'Sweden', 'city': 'Stockholm'},
 {'country': 'Cuba', 'city': 'Havana'},
 {'country': 'Kyrgyzstan', 'city': 'Bishkek'},
 {'country': 'Russia', 'city': 'Moscow'},
 {'country': 'Malaysia', 'city': 'Kuala Lumpur'},
 {'country': 'São Tomé and Príncipe', 'city': 'São Tomé'},
 {'country': 'Cyprus', 'city': 'Nicosia'},
 {'country': 'Canada', 'city': 'Ottawa'},
 {'country': 'Malawi', 'city': 'Lilongwe'},
 {'country': 'Saudi Arabia', 'city': 'Riyadh'},
 {'country': 'Bosnia and Herzegovina', 'city': 'Sarajevo'},
 {'country': 'Ethiopia', 'city': 'Addis Ababa'},
 {'country': 'Spain', 'city': 'Madrid'},
 {'country': 'Slovenia', 'city': 'Ljubljana'},
 {'country': 'Oman', 'city': 'Muscat'},
 {'country': 'Saint Pierre and Miquelon', 'city': 'Saint-Pierre'},
 {'country': 'San Marino', 'city': 'City of San Marino'},
 {'country': 'Lesotho', 'city': 'Maseru'},
 {'country': 'Marshall Islands', 'city': 'Majuro'},
 {'country': 'Sint Maarten', 'city': 'Philipsburg'},
 {'country': 'Iceland', 'city': 'Reykjavik'},
 {'country': 'Luxembourg', 'city': 'Luxembourg'},
 {'country': 'Argentina', 'city': 'Buenos Aires'},
 {'country': 'Turks and Caicos Islands', 'city': 'Cockburn Town'},
 {'country': 'Nauru', 'city': 'Yaren'},
 {'country': 'Cocos (Keeling) Islands', 'city': 'West Island'},
 {'country': 'Western Sahara', 'city': 'El Aaiún'},
 {'country': 'Dominica', 'city': 'Roseau'},
 {'country': 'Costa Rica', 'city': 'San José'},
 {'country': 'Australia', 'city': 'Canberra'},
 {'country': 'Thailand', 'city': 'Bangkok'},
 {'country': 'Haiti', 'city': 'Port-au-Prince'},
 {'country': 'Tuvalu', 'city': 'Funafuti'},
 {'country': 'Honduras', 'city': 'Tegucigalpa'},
 {'country': 'Equatorial Guinea', 'city': 'Malabo'},
 {'country': 'Saint Lucia', 'city': 'Castries'},
 {'country': 'French Polynesia', 'city': 'Papeetē'},
 {'country': 'Belarus', 'city': 'Minsk'},
 {'country': 'Latvia', 'city': 'Riga'},
 {'country': 'Palau', 'city': 'Ngerulmud'},
 {'country': 'Guadeloupe', 'city': 'Basse-Terre'},
 {'country': 'Philippines', 'city': 'Manila'},
 {'country': 'Gibraltar', 'city': 'Gibraltar'},
 {'country': 'Denmark', 'city': 'Copenhagen'},
 {'country': 'Cameroon', 'city': 'Yaoundé'},
 {'country': 'Guinea', 'city': 'Conakry'},
 {'country': 'Bahrain', 'city': 'Manama'},
 {'country': 'Suriname', 'city': 'Paramaribo'},
 {'country': 'DR Congo', 'city': 'Kinshasa'},
 {'country': 'Somalia', 'city': 'Mogadishu'},
 {'country': 'Czechia', 'city': 'Prague'},
 {'country': 'New Caledonia', 'city': 'Nouméa'},
 {'country': 'Vanuatu', 'city': 'Port Vila'},
 {'country': 'Saint Helena, Ascension and Tristan da Cunha',
  'city': 'Jamestown'},
 {'country': 'Togo', 'city': 'Lomé'},
 {'country': 'British Virgin Islands', 'city': 'Road Town'},
 {'country': 'Kenya', 'city': 'Nairobi'},
 {'country': 'Niue', 'city': 'Alofi'},
 {'country': 'Rwanda', 'city': 'Kigali'},
 {'country': 'Estonia', 'city': 'Tallinn'},
 {'country': 'Romania', 'city': 'Bucharest'},
 {'country': 'Trinidad and Tobago', 'city': 'Port of Spain'},
 {'country': 'Guyana', 'city': 'Georgetown'},
 {'country': 'Timor-Leste', 'city': 'Dili'},
 {'country': 'Vietnam', 'city': 'Hanoi'},
 {'country': 'Uruguay', 'city': 'Montevideo'},
 {'country': 'Vatican City', 'city': 'Vatican City'},
 {'country': 'Hong Kong', 'city': 'City of Victoria'},
 {'country': 'Austria', 'city': 'Vienna'},
 {'country': 'Antigua and Barbuda', 'city': "Saint John's"},
 {'country': 'Turkmenistan', 'city': 'Ashgabat'},
 {'country': 'Mozambique', 'city': 'Maputo'},
 {'country': 'Panama', 'city': 'Panama City'},
 {'country': 'Micronesia', 'city': 'Palikir'},
 {'country': 'Ireland', 'city': 'Dublin'},
 {'country': 'Curaçao', 'city': 'Willemstad'},
 {'country': 'French Guiana', 'city': 'Cayenne'},
 {'country': 'Norway', 'city': 'Oslo'},
 {'country': 'Åland Islands', 'city': 'Mariehamn'},
 {'country': 'Central African Republic', 'city': 'Bangui'},
 {'country': 'Burkina Faso', 'city': 'Ouagadougou'},
 {'country': 'Eritrea', 'city': 'Asmara'},
 {'country': 'Tanzania', 'city': 'Dodoma'},
 {'country': 'South Korea', 'city': 'Seoul'},
 {'country': 'Jordan', 'city': 'Amman'},
 {'country': 'Mauritania', 'city': 'Nouakchott'},
 {'country': 'Lithuania', 'city': 'Vilnius'},
 {'country': 'United States Minor Outlying Islands', 'city': 'Washington DC'},
 {'country': 'Slovakia', 'city': 'Bratislava'},
 {'country': 'Angola', 'city': 'Luanda'},
 {'country': 'Kazakhstan', 'city': 'Nur-Sultan'},
 {'country': 'Moldova', 'city': 'Chișinău'},
 {'country': 'Mali', 'city': 'Bamako'},
 {'country': 'Falkland Islands', 'city': 'Stanley'},
 {'country': 'Armenia', 'city': 'Yerevan'},
 {'country': 'Samoa', 'city': 'Apia'},
 {'country': 'Jersey', 'city': 'Saint Helier'},
 {'country': 'Japan', 'city': 'Tokyo'},
 {'country': 'Bolivia', 'city': 'Sucre'},
 {'country': 'Chile', 'city': 'Santiago'},
 {'country': 'United States', 'city': 'Washington, D.C.'},
 {'country': 'Saint Vincent and the Grenadines', 'city': 'Kingstown'},
 {'country': 'Bermuda', 'city': 'Hamilton'},
 {'country': 'Seychelles', 'city': 'Victoria'},
 {'country': 'British Indian Ocean Territory', 'city': 'Diego Garcia'},
 {'country': 'Guatemala', 'city': 'Guatemala City'},
 {'country': 'Ecuador', 'city': 'Quito'},
 {'country': 'Martinique', 'city': 'Fort-de-France'},
 {'country': 'Tajikistan', 'city': 'Dushanbe'},
 {'country': 'Malta', 'city': 'Valletta'},
 {'country': 'Gambia', 'city': 'Banjul'},
 {'country': 'Nigeria', 'city': 'Abuja'},
 {'country': 'Bahamas', 'city': 'Nassau'},
 {'country': 'Kosovo', 'city': 'Pristina'},
 {'country': 'Kuwait', 'city': 'Kuwait City'},
 {'country': 'Maldives', 'city': 'Malé'},
 {'country': 'South Sudan', 'city': 'Juba'},
 {'country': 'Iran', 'city': 'Tehran'},
 {'country': 'Albania', 'city': 'Tirana'},
 {'country': 'Brazil', 'city': 'Brasília'},
 {'country': 'Serbia', 'city': 'Belgrade'},
 {'country': 'Belize', 'city': 'Belmopan'},
 {'country': 'Myanmar', 'city': 'Naypyidaw'},
 {'country': 'Bhutan', 'city': 'Thimphu'},
 {'country': 'Venezuela', 'city': 'Caracas'},
 {'country': 'Liberia', 'city': 'Monrovia'},
 {'country': 'Jamaica', 'city': 'Kingston'},
 {'country': 'Poland', 'city': 'Warsaw'},
 {'country': 'Cayman Islands', 'city': 'George Town'},
 {'country': 'Brunei', 'city': 'Bandar Seri Begawan'},
 {'country': 'Comoros', 'city': 'Moroni'},
 {'country': 'Guam', 'city': 'Hagåtña'},
 {'country': 'Tonga', 'city': "Nuku'alofa"},
 {'country': 'Kiribati', 'city': 'South Tarawa'},
 {'country': 'Ghana', 'city': 'Accra'},
 {'country': 'Chad', 'city': "N'Djamena"},
 {'country': 'Zimbabwe', 'city': 'Harare'},
 {'country': 'Saint Martin', 'city': 'Marigot'},
 {'country': 'Mongolia', 'city': 'Ulan Bator'},
 {'country': 'Portugal', 'city': 'Lisbon'},
 {'country': 'American Samoa', 'city': 'Pago Pago'},
 {'country': 'Republic of the Congo', 'city': 'Brazzaville'},
 {'country': 'Belgium', 'city': 'Brussels'},
 {'country': 'Israel', 'city': 'Jerusalem'},
 {'country': 'New Zealand', 'city': 'Wellington'},
 {'country': 'Nicaragua', 'city': 'Managua'},
 {'country': 'Anguilla', 'city': 'The Valley'}]

### Data recovery:

In [6]:
# OpenWeather API Key
api_key = "b022acb509eacae0875ded1afe41a527"

# OpenWeather API URL
base_url = "https://api.openweathermap.org/data/2.5/weather"

In [7]:
# Function to call the API and retrieve weather data
def fetch_weather_data(api_key, city):
    try:
        params = {"appid": api_key, "lang": "en", "q": city}
        response = requests.get(base_url, params=params)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Error calling the API for {city}: {e}")
        return None

In [8]:
# Retrieving data for all capitals
def fetch_weather_for_all_capitals(api_key, capitals):
    weather_data = {}
    for capital in capitals:
        city = capital["city"]
        country = capital["country"]
        print(f"Retrieving data for {city}, {country}...")
        
        data = fetch_weather_data(api_key, city)
        if data:
            weather_data[city] = data
        else:
            weather_data[city] = {"error": "Data not available"}
        
        # Pause to avoid exceeding API rate limits
        time.sleep(1)
    return weather_data

In [12]:
capitals = get_capitals()
all_weather_data = fetch_weather_for_all_capitals(api_key, capitals)

Total number of captured capitals: 246
Retrieving data for King Edward Point, South Georgia...
Error calling the API for King Edward Point: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?appid=b022acb509eacae0875ded1afe41a527&lang=en&q=King+Edward+Point
Retrieving data for St. George's, Grenada...
Retrieving data for Bern, Switzerland...
Retrieving data for Freetown, Sierra Leone...
Retrieving data for Budapest, Hungary...
Retrieving data for Taipei, Taiwan...
Retrieving data for Mata-Utu, Wallis and Futuna...
Retrieving data for Bridgetown, Barbados...
Retrieving data for Adamstown, Pitcairn Islands...
Retrieving data for Yamoussoukro, Ivory Coast...
Retrieving data for Tunis, Tunisia...
Retrieving data for Rome, Italy...
Retrieving data for Porto-Novo, Benin...
Retrieving data for Jakarta, Indonesia...
Retrieving data for Praia, Cape Verde...
Retrieving data for Basseterre, Saint Kitts and Nevis...
Retrieving data for Vientiane, Laos...
Retrieving data for Kralendijk, Caribbean Netherlands...
Retrieving data for Kampala, Uganda...
Retrieving data for Andorra la Vella, Andorra...
Retrieving data for Gitega, Burundi...
Retrieving data for Pretoria, South Africa...
Retrieving data for Paris, France...
Retrieving data for Tripoli, Libya...
Retrieving data for Mexico City, Mexico...
Retrieving data for Libreville, Gabon...
Retrieving data for Saipan, Northern Mariana Islands...
Retrieving data for Skopje, North Macedonia...
Retrieving data for Beijing, China...
Retrieving data for Sana'a, Yemen...
Retrieving data for Gustavia, Saint Barthélemy...
Retrieving data for St. Peter Port, Guernsey...
Error calling the API for St. Peter Port: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?appid=b022acb509eacae0875ded1afe41a527&lang=en&q=St.+Peter+Port
Retrieving data for Honiara, Solomon Islands...
Retrieving data for Longyearbyen, Svalbard and Jan Mayen...
Retrieving data for Tórshavn, Faroe Islands...
Retrieving data for Tashkent, Uzbekistan...
Retrieving data for Cairo, Egypt...
Retrieving data for Dakar, Senegal...
Retrieving data for Sri Jayawardenepura Kotte, Sri Lanka...
Retrieving data for Ramallah, Palestine...
Retrieving data for Dhaka, Bangladesh...
Retrieving data for Lima, Peru...
Retrieving data for Singapore, Singapore...
Retrieving data for Ankara, Turkey...
Retrieving data for Kabul, Afghanistan...
Retrieving data for Oranjestad, Aruba...
Retrieving data for Avarua, Cook Islands...
Retrieving data for London, United Kingdom...
Retrieving data for Lusaka, Zambia...
Retrieving data for Helsinki, Finland...
Retrieving data for Niamey, Niger...
Retrieving data for Flying Fish Cove, Christmas Island...
Retrieving data for Fakaofo, Tokelau...
Error calling the API for Fakaofo: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?appid=b022acb509eacae0875ded1afe41a527&lang=en&q=Fakaofo
Retrieving data for Bissau, Guinea-Bissau...
Retrieving data for Baku, Azerbaijan...
Retrieving data for Saint-Denis, Réunion...
Retrieving data for Djibouti, Djibouti...
Retrieving data for Pyongyang, North Korea...
Retrieving data for Port Louis, Mauritius...
Retrieving data for Plymouth, Montserrat...
Retrieving data for Charlotte Amalie, United States Virgin Islands...
Retrieving data for Bogotá, Colombia...
Retrieving data for Athens, Greece...
Retrieving data for Zagreb, Croatia...
Retrieving data for Rabat, Morocco...
Retrieving data for Algiers, Algeria...
Retrieving data for Amsterdam, Netherlands...
Retrieving data for Khartoum, Sudan...
Retrieving data for Suva, Fiji...
Retrieving data for Vaduz, Liechtenstein...
Retrieving data for Kathmandu, Nepal...
Retrieving data for San Juan, Puerto Rico...
Retrieving data for Tbilisi, Georgia...
Retrieving data for Islamabad, Pakistan...
Retrieving data for Monaco, Monaco...
Retrieving data for Gaborone, Botswana...
Retrieving data for Beirut, Lebanon...
Retrieving data for Port Moresby, Papua New Guinea...
Retrieving data for Mamoudzou, Mayotte...
Retrieving data for Santo Domingo, Dominican Republic...
Retrieving data for Kingston, Norfolk Island...
Retrieving data for Doha, Qatar...
Retrieving data for Antananarivo, Madagascar...
Retrieving data for New Delhi, India...
Retrieving data for Damascus, Syria...
Retrieving data for Podgorica, Montenegro...
Retrieving data for Mbabane, Eswatini...
Retrieving data for Asunción, Paraguay...
Retrieving data for San Salvador, El Salvador...
Retrieving data for Kyiv, Ukraine...
Retrieving data for Douglas, Isle of Man...
Retrieving data for Windhoek, Namibia...
Retrieving data for Abu Dhabi, United Arab Emirates...
Retrieving data for Sofia, Bulgaria...
Retrieving data for Nuuk, Greenland...
Retrieving data for Berlin, Germany...
Retrieving data for Phnom Penh, Cambodia...
Retrieving data for Baghdad, Iraq...
Retrieving data for Port-aux-Français, French Southern and Antarctic Lands...
Retrieving data for Stockholm, Sweden...
Retrieving data for Havana, Cuba...
Retrieving data for Bishkek, Kyrgyzstan...
Retrieving data for Moscow, Russia...
Retrieving data for Kuala Lumpur, Malaysia...
Retrieving data for São Tomé, São Tomé and Príncipe...
Retrieving data for Nicosia, Cyprus...
Retrieving data for Ottawa, Canada...
Retrieving data for Lilongwe, Malawi...
Retrieving data for Riyadh, Saudi Arabia...
Retrieving data for Sarajevo, Bosnia and Herzegovina...
Retrieving data for Addis Ababa, Ethiopia...
Retrieving data for Madrid, Spain...
Retrieving data for Ljubljana, Slovenia...
Retrieving data for Muscat, Oman...
Retrieving data for Saint-Pierre, Saint Pierre and Miquelon...
Retrieving data for City of San Marino, San Marino...
Retrieving data for Maseru, Lesotho...
Retrieving data for Majuro, Marshall Islands...
Retrieving data for Philipsburg, Sint Maarten...
Retrieving data for Reykjavik, Iceland...
Retrieving data for Luxembourg, Luxembourg...
Retrieving data for Buenos Aires, Argentina...
Retrieving data for Cockburn Town, Turks and Caicos Islands...
Retrieving data for Yaren, Nauru...
Retrieving data for West Island, Cocos (Keeling) Islands...
Retrieving data for El Aaiún, Western Sahara...
Retrieving data for Roseau, Dominica...
Retrieving data for San José, Costa Rica...
Retrieving data for Canberra, Australia...
Retrieving data for Bangkok, Thailand...
Retrieving data for Port-au-Prince, Haiti...
Retrieving data for Funafuti, Tuvalu...
Retrieving data for Tegucigalpa, Honduras...
Retrieving data for Malabo, Equatorial Guinea...
Retrieving data for Castries, Saint Lucia...
Retrieving data for Papeetē, French Polynesia...
Error calling the API for Papeetē: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?appid=b022acb509eacae0875ded1afe41a527&lang=en&q=Papeet%C4%93
Retrieving data for Minsk, Belarus...
Retrieving data for Riga, Latvia...
Retrieving data for Ngerulmud, Palau...
Error calling the API for Ngerulmud: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?appid=b022acb509eacae0875ded1afe41a527&lang=en&q=Ngerulmud
Retrieving data for Basse-Terre, Guadeloupe...
Retrieving data for Manila, Philippines...
Retrieving data for Gibraltar, Gibraltar...
Retrieving data for Copenhagen, Denmark...
Retrieving data for Yaoundé, Cameroon...
Retrieving data for Conakry, Guinea...
Retrieving data for Manama, Bahrain...
Retrieving data for Paramaribo, Suriname...
Retrieving data for Kinshasa, DR Congo...
Retrieving data for Mogadishu, Somalia...
Retrieving data for Prague, Czechia...
Retrieving data for Nouméa, New Caledonia...
Retrieving data for Port Vila, Vanuatu...
Retrieving data for Jamestown, Saint Helena, Ascension and Tristan da Cunha...
Retrieving data for Lomé, Togo...
Retrieving data for Road Town, British Virgin Islands...
Retrieving data for Nairobi, Kenya...
Retrieving data for Alofi, Niue...
Retrieving data for Kigali, Rwanda...
Retrieving data for Tallinn, Estonia...
Retrieving data for Bucharest, Romania...
Retrieving data for Port of Spain, Trinidad and Tobago...
Retrieving data for Georgetown, Guyana...
Retrieving data for Dili, Timor-Leste...
Retrieving data for Hanoi, Vietnam...
Retrieving data for Montevideo, Uruguay...
Retrieving data for Vatican City, Vatican City...
Retrieving data for City of Victoria, Hong Kong...
Retrieving data for Vienna, Austria...
Retrieving data for Saint John's, Antigua and Barbuda...
Retrieving data for Ashgabat, Turkmenistan...
Retrieving data for Maputo, Mozambique...
Retrieving data for Panama City, Panama...
Retrieving data for Palikir, Micronesia...
Retrieving data for Dublin, Ireland...
Retrieving data for Willemstad, Curaçao...
Retrieving data for Cayenne, French Guiana...
Retrieving data for Oslo, Norway...
Retrieving data for Mariehamn, Åland Islands...
Retrieving data for Bangui, Central African Republic...
Retrieving data for Ouagadougou, Burkina Faso...
Retrieving data for Asmara, Eritrea...
Retrieving data for Dodoma, Tanzania...
Retrieving data for Seoul, South Korea...
Retrieving data for Amman, Jordan...
Retrieving data for Nouakchott, Mauritania...
Retrieving data for Vilnius, Lithuania...
Retrieving data for Washington DC, United States Minor Outlying Islands...
Retrieving data for Bratislava, Slovakia...
Retrieving data for Luanda, Angola...
Retrieving data for Nur-Sultan, Kazakhstan...
Retrieving data for Chișinău, Moldova...
Retrieving data for Bamako, Mali...
Retrieving data for Stanley, Falkland Islands...
Retrieving data for Yerevan, Armenia...
Retrieving data for Apia, Samoa...
Retrieving data for Saint Helier, Jersey...
Retrieving data for Tokyo, Japan...
Retrieving data for Sucre, Bolivia...
Retrieving data for Santiago, Chile...
Retrieving data for Washington, D.C., United States...
Retrieving data for Kingstown, Saint Vincent and the Grenadines...
Retrieving data for Hamilton, Bermuda...
Retrieving data for Victoria, Seychelles...
Retrieving data for Diego Garcia, British Indian Ocean Territory...
Error calling the API for Diego Garcia: 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?appid=b022acb509eacae0875ded1afe41a527&lang=en&q=Diego+Garcia
Retrieving data for Guatemala City, Guatemala...
Retrieving data for Quito, Ecuador...
Retrieving data for Fort-de-France, Martinique...
Retrieving data for Dushanbe, Tajikistan...
Retrieving data for Valletta, Malta...
Retrieving data for Banjul, Gambia...
Retrieving data for Abuja, Nigeria...
Retrieving data for Nassau, Bahamas...
Retrieving data for Pristina, Kosovo...
Retrieving data for Kuwait City, Kuwait...
Retrieving data for Malé, Maldives...
Retrieving data for Juba, South Sudan...
Retrieving data for Tehran, Iran...
Retrieving data for Tirana, Albania...
Retrieving data for Brasília, Brazil...
Retrieving data for Belgrade, Serbia...
Retrieving data for Belmopan, Belize...
Retrieving data for Naypyidaw, Myanmar...
Retrieving data for Thimphu, Bhutan...
Retrieving data for Caracas, Venezuela...
Retrieving data for Monrovia, Liberia...
Retrieving data for Kingston, Jamaica...
Retrieving data for Warsaw, Poland...
Retrieving data for George Town, Cayman Islands...
Retrieving data for Bandar Seri Begawan, Brunei...
Retrieving data for Moroni, Comoros...
Retrieving data for Hagåtña, Guam...
Retrieving data for Nuku'alofa, Tonga...
Retrieving data for South Tarawa, Kiribati...
Retrieving data for Accra, Ghana...
Retrieving data for N'Djamena, Chad...
Retrieving data for Harare, Zimbabwe...
Retrieving data for Marigot, Saint Martin...
Retrieving data for Ulan Bator, Mongolia...
Retrieving data for Lisbon, Portugal...
Retrieving data for Pago Pago, American Samoa...
Retrieving data for Brazzaville, Republic of the Congo...
Retrieving data for Brussels, Belgium...
Retrieving data for Jerusalem, Israel...
Retrieving data for Wellington, New Zealand...
Retrieving data for Managua, Nicaragua...
Retrieving data for The Valley, Anguilla...

In [13]:
# Call the function for Paris
city = "Paris"
print(f"Retrieving weather data for {city}...")
paris_weather_data = fetch_weather_data(api_key, city)

# Display all JSON data for Paris
if paris_weather_data:
    print(f"Complete weather data for {city}:")
    print(json.dumps(paris_weather_data, indent=4, ensure_ascii=False))
else:
    print(f"Weather data for {city} not available.")

Retrieving weather data for Paris...
Complete weather data for Paris:
{
    "coord": {
        "lon": 2.3488,
        "lat": 48.8534
    },
    "weather": [
        {
            "id": 800,
            "main": "Clear",
            "description": "clear sky",
            "icon": "01d"
        }
    ],
    "base": "stations",
    "main": {
        "temp": 291.46,
        "feels_like": 290.5,
        "temp_min": 290.58,
        "temp_max": 292.18,
        "pressure": 1006,
        "humidity": 44,
        "sea_level": 1006,
        "grnd_level": 996
    },
    "visibility": 10000,
    "wind": {
        "speed": 6.69,
        "deg": 120
    },
    "clouds": {
        "all": 0
    },
    "dt": 1741451119,
    "sys": {
        "type": 2,
        "id": 2012208,
        "country": "FR",
        "sunrise": 1741414714,
        "sunset": 1741455866
    },
    "timezone": 3600,
    "id": 2988507,
    "name": "Paris",
    "cod": 200
}

### Units of JSON Fields from the OpenWeather API

The fields and their associated units retrieved from the OpenWeather API are listed below:

#### Geographic Coordinates
- **`coord.lon`**: degrees (longitude)  
- **`coord.lat`**: degrees (latitude)

#### Weather Conditions
- **`weather.id`**: no unit (weather condition identifier)  
- **`weather.main`**: no unit (group of weather parameters)  
- **`weather.description`**: no unit (description of the weather condition)  
- **`weather.icon`**: no unit (weather icon identifier)

#### Main Data
- **`main.temp`**: Kelvin (temperature)  
- **`main.feels_like`**: Kelvin (feels like temperature)  
- **`main.temp_min`**: Kelvin (minimum temperature)  
- **`main.temp_max`**: Kelvin (maximum temperature)  
- **`main.pressure`**: hPa (atmospheric pressure at sea level)  
- **`main.humidity`**: % (humidity)  
- **`main.sea_level`**: hPa (atmospheric pressure at sea level)  
- **`main.grnd_level`**: hPa (atmospheric pressure at ground level)

#### Visibility and Wind
- **`visibility`**: meters (visibility)  
- **`wind.speed`**: meters/sec (wind speed)  
- **`wind.deg`**: degrees (wind direction)

#### Cloudiness
- **`clouds.all`**: % (cloudiness)

#### Date and Time
- **`dt`**: UNIX timestamp (date and time when data was calculated)

#### System Information
- **`sys.type`**: no unit (type of weather station)  
- **`sys.id`**: no unit (weather station identifier)  
- **`sys.country`**: no unit (country code)  
- **`sys.sunrise`**: UNIX timestamp (sunrise time)  
- **`sys.sunset`**: UNIX timestamp (sunset time)

#### Time Zone
- **`timezone`**: seconds (time offset from UTC)

#### City Information
- **`id`**: no unit (city identifier)  
- **`name`**: no unit (city name)

#### Response Code
- **`cod`**: no unit (HTTP response code)

---

### Note

Default units can be modified via the **`units`** parameter in the API call to:  
- Get temperatures in Celsius: **`units=metric`**  
- Get temperatures in Fahrenheit and wind speed in miles per hour: **`units=imperial`**

### Converting semi-structured data: JSON to structured: DataFrame

In [14]:
def convert_weather_data_to_dataframe(weather_data, capitals):
    # Create an empty list to store the structured data
    structured_data = []

    # Iterate over the weather data for each city
    for capital in capitals:
        city = capital["city"]
        country = capital["country"]
        data = weather_data.get(city, {})

        if "error" in data:
            print(f"Data not available for {city}, {country}.")
            continue

        # Extract the necessary information while handling missing keys
        structured_data.append({
            "country": country,
            "city": city,
            "id": data.get("id"),
            "lon": data.get("coord", {}).get("lon"),
            "lat": data.get("coord", {}).get("lat"),
            "base": data.get("base"),
            "main": data.get("weather", [{}])[0].get("main"),
            "description": data.get("weather", [{}])[0].get("description"),
            "temp": data.get("main", {}).get("temp"),
            "feels_like": data.get("main", {}).get("feels_like"),
            "temp_min": data.get("main", {}).get("temp_min"),
            "tem_max": data.get("main", {}).get("temp_max"),
            "pressure": data.get("main", {}).get("pressure"),
            "humidity": data.get("main", {}).get("humidity"),
            "sea_level": data.get("main", {}).get("sea_level"),
            "grnd_level": data.get("main", {}).get("grnd_level"),
            "visibility": data.get("visibility"),
            "speed": data.get("wind", {}).get("speed"),
            "deg": data.get("wind", {}).get("deg"),
            "clouds": data.get("clouds", {}).get("all"),
            "dt": data.get("dt"),
            "sunrise": data.get("sys", {}).get("sunrise"),
            "sunset": data.get("sys", {}).get("sunset"),
            "timezone": data.get("timezone"),
            "cod": data.get("cod")
        })

    # Convert the structured data into a DataFrame
    df = pd.DataFrame(structured_data)
    return df

In [15]:
# Convert the collected data into a DataFrame
df_weather = convert_weather_data_to_dataframe(all_weather_data, capitals)

Data not available for King Edward Point, South Georgia.
Data not available for St. Peter Port, Guernsey.
Data not available for Fakaofo, Tokelau.
Data not available for Papeetē, French Polynesia.
Data not available for Ngerulmud, Palau.
Data not available for Diego Garcia, British Indian Ocean Territory.

In [16]:
df_weather.head()

,country,city,id,lon,lat,base,main,description,temp,feels_like,...,grnd_level,visibility,speed,deg,clouds,dt,sunrise,sunset,timezone,cod
0,Grenada,St. George's,3579925,-61.7485,12.0564,stations,Clouds,few clouds,301.97,306.21,...,1010,10000,6.69,130,20,1741451051,1741429110,1741472231,-14400,200
1,Switzerland,Bern,2661552,7.4474,46.9481,stations,Clear,clear sky,288.79,287.35,...,938,10000,3.09,320,0,1741450891,1741413417,1741454716,3600,200
2,Sierra Leone,Freetown,2409306,-13.2299,8.4840,stations,Clouds,scattered clouds,300.99,304.02,...,1002,10000,6.17,250,40,1741451053,1741417399,1741460658,0,200
3,Hungary,Budapest,3054643,19.0399,47.4980,stations,Clear,clear sky,290.77,289.37,...,994,10000,1.54,90,0,1741450802,1741410660,1741451910,3600,200
4,Taiwan,Taipei,1668341,121.5319,25.0478,stations,Clouds,broken clouds,289.32,288.72,...,1003,10000,5.66,100,75,1741451008,1741471768,1741514384,28800,200

In [17]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 25 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      240 non-null    object
 1   city         240 non-null    object
 2   id           240 non-null    int64
 3   lon          240 non-null    float64
 4   lat          240 non-null    float64
 5   base         240 non-null    object
 6   main         240 non-null    object
 7   description  240 non-null    object
 8   temp         240 non-null    float64
 9   feels_like   240 non-null    float64
 10  temp_min     240 non-null    float64
 11  tem_max      240 non-null    float64
 12  pressure     240 non-null    int64
 13  humidity     240 non-null    int64
 14  sea_level    240 non-null    int64
 15  grnd_level   240 non-null    int64
 16  visibility   240 non-null    int64
 17  speed        240 non-null    float64
 18  deg          240 non-null    int64
 19  clouds       240 non-null    int64
 20  dt           240 non-null    int64
 21  sunrise      240 non-null    int64
 22  sunset       240 non-null    int64
 23  timezone     240 non-null    int64
 24  cod          240 non-null    int64
dtypes: float64(7), int64(13), object(5)
memory usage: 47.0+ KB

In [18]:
df_weather.describe()

,id,lon,lat,temp,feels_like,temp_min,tem_max,pressure,humidity,sea_level,grnd_level,visibility,speed,deg,clouds,dt,sunrise,sunset,timezone,cod
count,2.400000e+02,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,2.400000e+02,2.400000e+02,2.400000e+02,240.000000,240.0
mean,2.499525e+06,12.490642,18.854052,293.477875,293.471167,293.168625,293.815167,1012.512500,61.991667,1012.512500,971.058333,9610.041667,3.748833,157.383333,42.020833,1.741451e+09,1.741423e+09,1.741466e+09,5193.750000,200.0
std,1.651845e+06,73.888524,25.107127,9.277577,11.055642,9.439592,9.193141,5.753646,21.740769,5.753646,63.380276,1350.970235,2.292998,102.168552,38.061440,1.309346e+02,2.521413e+04,2.554326e+04,17625.984126,0.0
min,5.365400e+04,-176.174500,-49.350000,265.060000,260.450000,265.060000,265.060000,989.000000,8.000000,989.000000,701.000000,3200.000000,0.000000,0.000000,0.000000,1.741451e+09,1.741388e+09,1.741432e+09,-39600.000000,200.0
25%,1.156250e+06,-53.323650,4.097775,288.027500,286.980000,287.762500,288.360000,1009.000000,45.750000,1009.000000,960.000000,10000.000000,2.060000,80.000000,0.750000,1.741451e+09,1.741407e+09,1.741450e+09,-8100.000000,200.0
50%,2.390970e+06,16.174800,17.997000,295.300000,295.330000,295.250000,295.730000,1013.000000,65.500000,1013.000000,1000.000000,10000.000000,3.515000,130.000000,34.500000,1.741451e+09,1.741414e+09,1.741456e+09,3600.000000,200.0
75%,3.536317e+06,47.646650,40.230250,300.207500,301.885000,300.152500,300.735000,1016.250000,78.000000,1016.250000,1009.000000,10000.000000,5.140000,232.500000,75.000000,1.741451e+09,1.741432e+09,1.741475e+09,14400.000000,200.0
max,8.224783e+06,179.194200,78.218600,314.310000,320.170000,314.310000,314.310000,1029.000000,100.000000,1029.000000,1024.000000,10000.000000,17.040000,360.000000,100.000000,1.741451e+09,1.741542e+09,1.741587e+09,46800.000000,200.0

In [19]:
df_weather.head()

,country,city,id,lon,lat,base,main,description,temp,feels_like,...,grnd_level,visibility,speed,deg,clouds,dt,sunrise,sunset,timezone,cod
0,Grenada,St. George's,3579925,-61.7485,12.0564,stations,Clouds,few clouds,301.97,306.21,...,1010,10000,6.69,130,20,1741451051,1741429110,1741472231,-14400,200
1,Switzerland,Bern,2661552,7.4474,46.9481,stations,Clear,clear sky,288.79,287.35,...,938,10000,3.09,320,0,1741450891,1741413417,1741454716,3600,200
2,Sierra Leone,Freetown,2409306,-13.2299,8.4840,stations,Clouds,scattered clouds,300.99,304.02,...,1002,10000,6.17,250,40,1741451053,1741417399,1741460658,0,200
3,Hungary,Budapest,3054643,19.0399,47.4980,stations,Clear,clear sky,290.77,289.37,...,994,10000,1.54,90,0,1741450802,1741410660,1741451910,3600,200
4,Taiwan,Taipei,1668341,121.5319,25.0478,stations,Clouds,broken clouds,289.32,288.72,...,1003,10000,5.66,100,75,1741451008,1741471768,1741514384,28800,200

### Data analysis:

### Data preparation:

#### Identify duplicates:

In [20]:
duplicates = df_weather[df_weather.duplicated()]

# Display duplicates (if any)
if not duplicates.empty:
    print("Removed duplicates:")
    print(duplicates)

# Remove duplicates from the main DataFrame
df_weather = df_weather.drop_duplicates()

#### Delete lines with Response_Code different from 200:

In [21]:
rows_to_delete = df_weather[df_weather["cod"] != 200]
print("Deleted rows:")
print(rows_to_delete)

# Delete rows with response code different from 200
df_weather = df_weather[df_weather["cod"] == 200]

Deleted rows:
Empty DataFrame
Columns: [country, city, id, lon, lat, base, main, description, temp, feels_like, temp_min, tem_max, pressure, humidity, sea_level, grnd_level, visibility, speed, deg, clouds, dt, sunrise, sunset, timezone, cod]
Index: []

[0 rows x 25 columns]

#### Add a localdatetime column:

In [22]:
df_weather["local_datetime"] = pd.to_datetime(df_weather["dt"], unit='s') + pd.to_timedelta(df_weather["timezone"], unit='s')

df_weather.head()

,country,city,id,lon,lat,base,main,description,temp,feels_like,...,visibility,speed,deg,clouds,dt,sunrise,sunset,timezone,cod,local_datetime
0,Grenada,St. George's,3579925,-61.7485,12.0564,stations,Clouds,few clouds,301.97,306.21,...,10000,6.69,130,20,1741451051,1741429110,1741472231,-14400,200,2025-03-08 12:24:11
1,Switzerland,Bern,2661552,7.4474,46.9481,stations,Clear,clear sky,288.79,287.35,...,10000,3.09,320,0,1741450891,1741413417,1741454716,3600,200,2025-03-08 17:21:31
2,Sierra Leone,Freetown,2409306,-13.2299,8.4840,stations,Clouds,scattered clouds,300.99,304.02,...,10000,6.17,250,40,1741451053,1741417399,1741460658,0,200,2025-03-08 16:24:13
3,Hungary,Budapest,3054643,19.0399,47.4980,stations,Clear,clear sky,290.77,289.37,...,10000,1.54,90,0,1741450802,1741410660,1741451910,3600,200,2025-03-08 17:20:02
4,Taiwan,Taipei,1668341,121.5319,25.0478,stations,Clouds,broken clouds,289.32,288.72,...,10000,5.66,100,75,1741451008,1741471768,1741514384,28800,200,2025-03-09 00:23:28

#### Remove unnecessary columns:

In [23]:
columns_to_drop = ["dt", "timezone","id", "base", "cod"]
df_weather = df_weather.drop(columns=columns_to_drop)

df_weather.head()

,country,city,lon,lat,main,description,temp,feels_like,temp_min,tem_max,...,humidity,sea_level,grnd_level,visibility,speed,deg,clouds,sunrise,sunset,local_datetime
0,Grenada,St. George's,-61.7485,12.0564,Clouds,few clouds,301.97,306.21,301.97,301.97,...,74,1015,1010,10000,6.69,130,20,1741429110,1741472231,2025-03-08 12:24:11
1,Switzerland,Bern,7.4474,46.9481,Clear,clear sky,288.79,287.35,288.42,289.57,...,36,1008,938,10000,3.09,320,0,1741413417,1741454716,2025-03-08 17:21:31
2,Sierra Leone,Freetown,-13.2299,8.4840,Clouds,scattered clouds,300.99,304.02,300.99,300.99,...,74,1008,1002,10000,6.17,250,40,1741417399,1741460658,2025-03-08 16:24:13
3,Hungary,Budapest,19.0399,47.4980,Clear,clear sky,290.77,289.37,290.26,292.44,...,30,1015,994,10000,1.54,90,0,1741410660,1741451910,2025-03-08 17:20:02
4,Taiwan,Taipei,121.5319,25.0478,Clouds,broken clouds,289.32,288.72,288.89,289.86,...,66,1023,1003,10000,5.66,100,75,1741471768,1741514384,2025-03-09 00:23:28

#### Converting UNIX timestamps to ISO 8601 format:

In [24]:
for col in ["sunrise", "sunset"]:
    df_weather[col] = pd.to_datetime(df_weather[col], unit='s')

df_weather.head()

,country,city,lon,lat,main,description,temp,feels_like,temp_min,tem_max,...,humidity,sea_level,grnd_level,visibility,speed,deg,clouds,sunrise,sunset,local_datetime
0,Grenada,St. George's,-61.7485,12.0564,Clouds,few clouds,301.97,306.21,301.97,301.97,...,74,1015,1010,10000,6.69,130,20,2025-03-08 10:18:30,2025-03-08 22:17:11,2025-03-08 12:24:11
1,Switzerland,Bern,7.4474,46.9481,Clear,clear sky,288.79,287.35,288.42,289.57,...,36,1008,938,10000,3.09,320,0,2025-03-08 05:56:57,2025-03-08 17:25:16,2025-03-08 17:21:31
2,Sierra Leone,Freetown,-13.2299,8.4840,Clouds,scattered clouds,300.99,304.02,300.99,300.99,...,74,1008,1002,10000,6.17,250,40,2025-03-08 07:03:19,2025-03-08 19:04:18,2025-03-08 16:24:13
3,Hungary,Budapest,19.0399,47.4980,Clear,clear sky,290.77,289.37,290.26,292.44,...,30,1015,994,10000,1.54,90,0,2025-03-08 05:11:00,2025-03-08 16:38:30,2025-03-08 17:20:02
4,Taiwan,Taipei,121.5319,25.0478,Clouds,broken clouds,289.32,288.72,288.89,289.86,...,66,1023,1003,10000,5.66,100,75,2025-03-08 22:09:28,2025-03-09 09:59:44,2025-03-09 00:23:28

#### Converting temperatures from Kelvin to °C:

In [25]:
temperature_columns = ["temp", "feels_like", "temp_min", "tem_max"]
for col in temperature_columns:
    df_weather[col] = df_weather[col] - 273.15
    
df_weather.head()

,country,city,lon,lat,main,description,temp,feels_like,temp_min,tem_max,...,humidity,sea_level,grnd_level,visibility,speed,deg,clouds,sunrise,sunset,local_datetime
0,Grenada,St. George's,-61.7485,12.0564,Clouds,few clouds,28.82,33.06,28.82,28.82,...,74,1015,1010,10000,6.69,130,20,2025-03-08 10:18:30,2025-03-08 22:17:11,2025-03-08 12:24:11
1,Switzerland,Bern,7.4474,46.9481,Clear,clear sky,15.64,14.20,15.27,16.42,...,36,1008,938,10000,3.09,320,0,2025-03-08 05:56:57,2025-03-08 17:25:16,2025-03-08 17:21:31
2,Sierra Leone,Freetown,-13.2299,8.4840,Clouds,scattered clouds,27.84,30.87,27.84,27.84,...,74,1008,1002,10000,6.17,250,40,2025-03-08 07:03:19,2025-03-08 19:04:18,2025-03-08 16:24:13
3,Hungary,Budapest,19.0399,47.4980,Clear,clear sky,17.62,16.22,17.11,19.29,...,30,1015,994,10000,1.54,90,0,2025-03-08 05:11:00,2025-03-08 16:38:30,2025-03-08 17:20:02
4,Taiwan,Taipei,121.5319,25.0478,Clouds,broken clouds,16.17,15.57,15.74,16.71,...,66,1023,1003,10000,5.66,100,75,2025-03-08 22:09:28,2025-03-09 09:59:44,2025-03-09 00:23:28

#### Added length of day:

In [26]:
df_weather["daylight_duration"] = (df_weather["sunset"] - df_weather["sunrise"]).dt.total_seconds() / 3600

df_weather.head()

,country,city,lon,lat,main,description,temp,feels_like,temp_min,tem_max,...,sea_level,grnd_level,visibility,speed,deg,clouds,sunrise,sunset,local_datetime,daylight_duration
0,Grenada,St. George's,-61.7485,12.0564,Clouds,few clouds,28.82,33.06,28.82,28.82,...,1015,1010,10000,6.69,130,20,2025-03-08 10:18:30,2025-03-08 22:17:11,2025-03-08 12:24:11,11.978056
1,Switzerland,Bern,7.4474,46.9481,Clear,clear sky,15.64,14.20,15.27,16.42,...,1008,938,10000,3.09,320,0,2025-03-08 05:56:57,2025-03-08 17:25:16,2025-03-08 17:21:31,11.471944
2,Sierra Leone,Freetown,-13.2299,8.4840,Clouds,scattered clouds,27.84,30.87,27.84,27.84,...,1008,1002,10000,6.17,250,40,2025-03-08 07:03:19,2025-03-08 19:04:18,2025-03-08 16:24:13,12.016389
3,Hungary,Budapest,19.0399,47.4980,Clear,clear sky,17.62,16.22,17.11,19.29,...,1015,994,10000,1.54,90,0,2025-03-08 05:11:00,2025-03-08 16:38:30,2025-03-08 17:20:02,11.458333
4,Taiwan,Taipei,121.5319,25.0478,Clouds,broken clouds,16.17,15.57,15.74,16.71,...,1023,1003,10000,5.66,100,75,2025-03-08 22:09:28,2025-03-09 09:59:44,2025-03-09 00:23:28,11.837778

#### Calculation of temperature difference:

In [27]:
df_weather["temperature_difference"] = (
    df_weather["tem_max"] - df_weather["temp_min"]
)

df_weather.head()

,country,city,lon,lat,main,description,temp,feels_like,temp_min,tem_max,...,grnd_level,visibility,speed,deg,clouds,sunrise,sunset,local_datetime,daylight_duration,temperature_difference
0,Grenada,St. George's,-61.7485,12.0564,Clouds,few clouds,28.82,33.06,28.82,28.82,...,1010,10000,6.69,130,20,2025-03-08 10:18:30,2025-03-08 22:17:11,2025-03-08 12:24:11,11.978056,0.00
1,Switzerland,Bern,7.4474,46.9481,Clear,clear sky,15.64,14.20,15.27,16.42,...,938,10000,3.09,320,0,2025-03-08 05:56:57,2025-03-08 17:25:16,2025-03-08 17:21:31,11.471944,1.15
2,Sierra Leone,Freetown,-13.2299,8.4840,Clouds,scattered clouds,27.84,30.87,27.84,27.84,...,1002,10000,6.17,250,40,2025-03-08 07:03:19,2025-03-08 19:04:18,2025-03-08 16:24:13,12.016389,0.00
3,Hungary,Budapest,19.0399,47.4980,Clear,clear sky,17.62,16.22,17.11,19.29,...,994,10000,1.54,90,0,2025-03-08 05:11:00,2025-03-08 16:38:30,2025-03-08 17:20:02,11.458333,2.18
4,Taiwan,Taipei,121.5319,25.0478,Clouds,broken clouds,16.17,15.57,15.74,16.71,...,1003,10000,5.66,100,75,2025-03-08 22:09:28,2025-03-09 09:59:44,2025-03-09 00:23:28,11.837778,0.97

#### Calculation of the thermal comfort index (simplified):

In [28]:
# Calculate the thermal comfort index including the effect of wind speed
df_weather["thermal_comfort_index"] = (
    df_weather["temp"] -  # Ambient temperature
    (0.55 * (1 - (df_weather["humidity"] / 100)) * (df_weather["temp"] - 14.5)) -  # Humidity effect
    (0.2 * df_weather["speed"])  # Wind effect
)

# Display a preview of the results
df_weather[["temp", "humidity", "speed", "thermal_comfort_index"]].head()

    temp  humidity  speed  thermal_comfort_index
0  28.82        74   6.69               25.43424
1  15.64        36   3.09               14.62072
2  27.84        74   6.17               24.69838
3  17.62        30   1.54               16.11080
4  16.17        66   5.66               14.72571

#### Added Season column:

In [29]:
def get_season(date, lat):
    """
    Determines the season based on the date and latitude.
    """
    day_of_year = date.timetuple().tm_yday  # Day number of the year

    if lat > 0:  # Northern Hemisphere
        if 80 <= day_of_year < 172:  # March 21 - June 20
            return "Spring"
        elif 172 <= day_of_year < 264:  # June 21 - September 20
            return "Summer"
        elif 264 <= day_of_year < 355:  # September 21 - December 20
            return "Autumn"
        else:  # December 21 - March 20
            return "Winter"
    else:  # Southern Hemisphere
        if 80 <= day_of_year < 172:  # March 21 - June 20
            return "Autumn"
        elif 172 <= day_of_year < 264:  # June 21 - September 20
            return "Winter"
        elif 264 <= day_of_year < 355:  # September 21 - December 20
            return "Spring"
        else:  # December 21 - March 20
            return "Summer"

# Apply the function to create the "season" column
df_weather["season"] = df_weather.apply(
    lambda row: get_season(row["local_datetime"], row["lat"]), axis=1
)

# Check the results
print(df_weather[["local_datetime", "lat", "season"]].head())

       local_datetime      lat  season
0 2025-03-08 12:24:11  12.0564  Winter
1 2025-03-08 17:21:31  46.9481  Winter
2 2025-03-08 16:24:13   8.4840  Winter
3 2025-03-08 17:20:02  47.4980  Winter
4 2025-03-09 00:23:28  25.0478  Winter

#### Added categories for temperatures:

In [30]:
def categorize_temperature(temp):
    if temp < 0:
        return "Very Cold"
    elif temp < 10:
        return "Cold"
    elif temp < 25:
        return "Moderate"
    else:
        return "Hot"

df_weather["temperature_category"] = df_weather["temp"].apply(categorize_temperature)

df_weather.head()

,country,city,lon,lat,main,description,temp,feels_like,temp_min,tem_max,...,deg,clouds,sunrise,sunset,local_datetime,daylight_duration,temperature_difference,thermal_comfort_index,season,temperature_category
0,Grenada,St. George's,-61.7485,12.0564,Clouds,few clouds,28.82,33.06,28.82,28.82,...,130,20,2025-03-08 10:18:30,2025-03-08 22:17:11,2025-03-08 12:24:11,11.978056,0.00,25.43424,Winter,Hot
1,Switzerland,Bern,7.4474,46.9481,Clear,clear sky,15.64,14.20,15.27,16.42,...,320,0,2025-03-08 05:56:57,2025-03-08 17:25:16,2025-03-08 17:21:31,11.471944,1.15,14.62072,Winter,Moderate
2,Sierra Leone,Freetown,-13.2299,8.4840,Clouds,scattered clouds,27.84,30.87,27.84,27.84,...,250,40,2025-03-08 07:03:19,2025-03-08 19:04:18,2025-03-08 16:24:13,12.016389,0.00,24.69838,Winter,Hot
3,Hungary,Budapest,19.0399,47.4980,Clear,clear sky,17.62,16.22,17.11,19.29,...,90,0,2025-03-08 05:11:00,2025-03-08 16:38:30,2025-03-08 17:20:02,11.458333,2.18,16.11080,Winter,Moderate
4,Taiwan,Taipei,121.5319,25.0478,Clouds,broken clouds,16.17,15.57,15.74,16.71,...,100,75,2025-03-08 22:09:28,2025-03-09 09:59:44,2025-03-09 00:23:28,11.837778,0.97,14.72571,Winter,Moderate

#### Rename columns with their units:

In [31]:
# Dictionary for renaming columns with their units
rename_columns = {
    "lon": "longitude",
    "lat": "latitude",
    "main": "weather_condition",
    "description": "weather_description",
    "temp": "temperature",
    "feels_like": "feels_like_temperature",
    "temp_min": "min_temperature",
    "tem_max": "max_temperature",
    "sea_level": "sea_level_pressure",
    "grnd_level": "ground_level_pressure",
    "speed": "wind_speed",
    "deg": "wind_direction",
    "clouds": "cloud_cover",
    "sunrise": "sunrise_time",
    "sunset": "sunset_time",
}

# Rename the DataFrame columns
df_weather.rename(columns=rename_columns, inplace=True)

df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 240 non-null    object
 1   city                    240 non-null    object
 2   longitude               240 non-null    float64
 3   latitude                240 non-null    float64
 4   weather_condition       240 non-null    object
 5   weather_description     240 non-null    object
 6   temperature             240 non-null    float64
 7   feels_like_temperature  240 non-null    float64
 8   min_temperature         240 non-null    float64
 9   max_temperature         240 non-null    float64
 10  pressure                240 non-null    int64
 11  humidity                240 non-null    int64
 12  sea_level_pressure      240 non-null    int64
 13  ground_level_pressure   240 non-null    int64
 14  visibility              240 non-null    int64
 15  wind_speed              240 non-null    float64
 16  wind_direction          240 non-null    int64
 17  cloud_cover             240 non-null    int64
 18  sunrise_time            240 non-null    datetime64[ns]
 19  sunset_time             240 non-null    datetime64[ns]
 20  local_datetime          240 non-null    datetime64[ns]
 21  daylight_duration       240 non-null    float64
 22  temperature_difference  240 non-null    float64
 23  thermal_comfort_index   240 non-null    float64
 24  season                  240 non-null    object
 25  temperature_category    240 non-null    object
dtypes: datetime64[ns](3), float64(10), int64(7), object(6)
memory usage: 48.9+ KB

#### Sorted the order of the columns:

In [32]:
# List of columns in a logical order
column_order = [
    # Geographic information
    "country", "city", "longitude", "latitude",
    
    # General weather data
    "weather_condition", "weather_description",
    
    # Temperature-related data
    "temperature", "temperature_category", "feels_like_temperature", "min_temperature", "max_temperature",
    "temperature_difference", "thermal_comfort_index",
    
    # Pressure and humidity data
    "pressure", "sea_level_pressure", "ground_level_pressure", "humidity",
    
    # Visibility and wind data
    "visibility", "wind_speed", "wind_direction",
    
    # Cloudiness data
    "cloud_cover",
    
    # Temporal data
    "sunrise_time", "sunset_time", "daylight_duration", "local_datetime",
    
    # Derived information
    "season"
]

# Reorganize the columns
df_weather = df_weather[column_order]

df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 240 non-null    object
 1   city                    240 non-null    object
 2   longitude               240 non-null    float64
 3   latitude                240 non-null    float64
 4   weather_condition       240 non-null    object
 5   weather_description     240 non-null    object
 6   temperature             240 non-null    float64
 7   temperature_category    240 non-null    object
 8   feels_like_temperature  240 non-null    float64
 9   min_temperature         240 non-null    float64
 10  max_temperature         240 non-null    float64
 11  temperature_difference  240 non-null    float64
 12  thermal_comfort_index   240 non-null    float64
 13  pressure                240 non-null    int64
 14  sea_level_pressure      240 non-null    int64
 15  ground_level_pressure   240 non-null    int64
 16  humidity                240 non-null    int64
 17  visibility              240 non-null    int64
 18  wind_speed              240 non-null    float64
 19  wind_direction          240 non-null    int64
 20  cloud_cover             240 non-null    int64
 21  sunrise_time            240 non-null    datetime64[ns]
 22  sunset_time             240 non-null    datetime64[ns]
 23  daylight_duration       240 non-null    float64
 24  local_datetime          240 non-null    datetime64[ns]
 25  season                  240 non-null    object
dtypes: datetime64[ns](3), float64(10), int64(7), object(6)
memory usage: 48.9+ KB